<!DOCTYPE html>
<html>
<head>
	</br>	
	<a style="font-size:30px;color:green;padding: 10px "  href="/showGames">  Show Games  </a>

	<a style="color:green;font-family:arial; font-size:30px;padding: 10px " href="/createGame"> Create New Game </a>
	</br>	</br>
  <title>LevelCreator</title>
  <link rel="shortcut icon" href="favicon.ico"  />
	<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

<style>
    A:hover {color: red;}
		a {
		  color: #000;
		  &:visited {
		   color: #666; }
		  &:hover {
		    color: #fff;
		    background-color: #000; }
		 	  @include button(simple, #3FB344);

		 }
</style>